@import '_header.less';
@import '_summary.less';
@import '_cart.less';
@import '_quickView&wishlist.less';
@import '_pagination.less';
@import '_swatch.less';
@import '_product-card.less';
@import '_ramadan.less';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: Arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.sections.nav-sections {
    margin-bottom: 0px;

}