.codilar-product-image-wrapper {
    position: relative;

    .codilar-wishlist-button {
        position: absolute;
        top: 1.2rem;
        right: 1.2rem;
        z-index: 5;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 4rem;
        height: 4rem;
        padding: 0;

        border: 0;
        background: #fff;
        cursor: pointer;

        .heart-icon {
            width: 2rem;
            height: 2rem;
            fill: none;
            stroke: currentColor;
            stroke-width: 1.5;
        }

        &.in-wishlist {
            .heart-icon {
                fill: currentColor;
            }
        }
    }

    .codilar-quick-view-button {
        position: absolute;
        right: 1.2rem;
        bottom: 1.2rem;
        z-index: 5;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 4rem;
        height: 4rem;
        padding: 0;

        border: 0;
        background: #fff;
        cursor: pointer;

        .eye-icon {
            width: 1.9rem;
            height: 1.9rem;
            fill: none;
            stroke: currentColor;
            stroke-width: 1.5;
        }
    }
}